## Dynamically-generated datasets
negativeExamples/
positiveExamples/
outputChunks/
output/
train.csv
valid.csv
test.csv
full.csv

# External datasets
GPD_proteome.csv
GPD_proteome.faa
GPD_proteome_orthology_assignment.txt

# Logs
tensorboard_logs/

# IDE
.vscode/
__pycache__/