## Dynamically-generated datasets
negativeExamples/
positiveExamples/
outputChunks/
train.csv
valid.csv
test.csv
full.csv
psi-searchOutput/

# External datasets
GPD_proteome.csv
GPD_proteome.faa
GPD_proteome_orthology_assignment.txt

# Logs
tensorboard_logs/
ipynb_checkpoints/
logs/

# IDE
.vscode/
__pycache__/
.dccache
.ipynb_checkpoints/
env.py