## Dynamically-generated datasets
negativeExamples/
positiveExamples/
outputChunks/
train.csv
valid.csv
test.csv
full.csv
gpd[0-9].csv
GPD_proteome*
psi-searchOutput/

# Logs
tensorboard_logs/
ipynb_checkpoints/
logs/

# IDE
.vscode/
__pycache__/
.dccache
.ipynb_checkpoints/
env.py
/serve
